<!DOCTYPE html>
<html>
	<head>
		<title>Using Data</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="lib/angular.js"></script>
	</head>
	<body ng-app ng-init="heros=[
		{title : 'Batman',	photo : 'images/batman.jpg',	city:'Gothem',		popular:9,        releaseDate:'2015-09-16',    ticketPrice:150.45678},
    {title : 'Ironman',		photo : 'images/ironman.jpg',	city:'New York',	popular:8,        releaseDate:'2015-09-17',    ticketPrice:122.75846},
		{title : 'Batman',	photo : 'images/batman.jpg',	city:'Gothem',		popular:9,        releaseDate:'2015-09-16',    ticketPrice:159.45678},
	{title : 'Spiderman',	photo : 'images/spiderman.jpg',	city:'New York',	popular:7,        releaseDate:'2015-08-18',    ticketPrice:150.67458},
    {title : 'Phantom',		photo : 'images/phantom.jpg',	city:'Bangalla',	popular:4,        releaseDate:'2015-09-19',    ticketPrice:75.78456},
    {title : 'Superman',	photo : 'images/superman.jpg',	city:'Metropolis',	popular:6,        releaseDate:'2015-08-20',    ticketPrice:200.45678},
    {title : 'Rajani',		photo : 'images/rajani.jpg',	city:'Chennai',		popular:10,        releaseDate:'2015-09-21',    ticketPrice:450.67845}
		];
		nos = 2;
		offset = 0">
		
		<input type="text" ng-model="sortBy" />
		<br/>
		<br/>
		<table border="0" cellpadding="5" cellspacing="5" class="table">
			<tr>
				<th ng-click="val='title'; reverse=!reverse">Title</th>
				<th ng-click="val='photo'; reverse=!reverse">Photo</th>
				<th ng-click="val='city'; reverse=!reverse">City</th>
				<th ng-click="val='popular'; reverse=!reverse">Popular</th>
				<th ng-click="val='releaseDate'; reverse=!reverse">Release Date</th>
				<th ng-click="val='ticketPrice'; reverse=!reverse">Ticket Price</th>
			</tr>
			<tr ng-repeat="hero in heros | limitTo: nos : offset"> <!-- filter : sortBy track by hero.ticketPrice | orderBy: val : reverse-->
				<td>
					{{offset+$index +1+ ". " + hero.title | uppercase}}</td>
				<td><img ng-src="{{hero.photo}}" width="30" align="absmiddle"/></td>
				<td>{{hero.city}}</td>
				<td>{{hero.popular}}</td>
				<td>{{hero.releaseDate | date: 'dd MMM, yyyy'}}</td>
				<td>{{hero.ticketPrice | currency:'INR '}}</td>
			</tr>
		</table>
		
		<button ng-hide="offset < 1" ng-click="offset=offset-2"><img src="images/start.jpg"/></button>
		<button ng-hide="offset > 5" ng-click="offset=offset+2"><img src="images/finish.png" /></button>
	</body>
</html>